.alinharRotulos {
    text-align: left;
}

body {background-color: rgb(31, 214, 168);}

.alinhaBtns {
    width: 32%;
    background-color: rgb(0, 0, 0);
    color:rgb(248, 248, 248);
    border: 2px;
    padding:5px;
    border-radius: 7px;
    cursor: pointer;
    margin: 3px;
    
}
.imagemestoque {
    width:300px; 
    float:center;
    
}
.imagemestoque p {
    display: inline;
    
} 

table {
    clear:both; 
    background-color: rgb(82, 82, 82);
    border-radius: 10px; 
    color:rgb(255, 255, 255);
    padding:35px;
    width:430px;
    margin:auto;
    
    
}
caption {
    color:rgb(255, 255, 255); 
    font-weight: bold; 
    font-size: 29px;
    border: 20px;
    text-shadow: 0.1em 0.1em 0.05em rgb(5, 5, 5)
    
}
